name: Discord Bot (Scheduled)

on:
  schedule:
    - cron: "*/5 * * * *"  # run every 15 minutes
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        DISCORD_WEBHOOK_URL: ${{ secrets.STATS_WEBHOOK }}
        GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
        SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
        STATS_CHANNEL_ID: ${{ secrets.STATS_CHANNEL_ID }}
        LOGS_CHANNEL_ID: ${{ secrets.LOGS_CHANNEL_ID }}
        WATCH_SHEET: Logs
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run bot
        run: python bot.py
        run: python daily_stats_webhook.py
